.header__container {
    background-color: #221F1F;
    display: flex;
    color: #F5F5F1;
    justify-content: space-between;
    padding: 2rem 5rem;
}
.header__container-title-logo {
    width: 3rem;
    vertical-align: -15px;
}
.header__container-search input {
    width: 20rem;
    padding: 0.6rem;
    background-color: #413b3b;
    border: none;
    vertical-align: -10px;
    color: #F5F5F1;
}
.header__container-search img {
    width: 2rem;
    vertical-align: -20px;
    cursor: pointer;
}